.footer {
    background-color: black;
    color: blanchedalmond;
}

.footer__container {
    height: 100%;
}

.footer__top {
    height: 70%;
    border-bottom: solid wheat 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 500px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}