@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}
html {
}

body {
  font-family: "Comic Neue bold", cursive;
  background-color: #ffebcd;
}

main {
}

.container {
  max-width: 1300px;
  padding: clamp(24px, 1vw, 36px);
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

