body.mobile {
  overflow: hidden;
  header {
    border-radius: unset;
  }
  .header__navicon::before {
    transform: rotate(-45deg);
    top: 0 !important;
  }

  .header__navicon::after {
    transform: rotate(45deg);
    top: 0 !important;
  }

  .header__navicon {
    background: transparent !important;
  }
}

header {
  background-image: linear-gradient(#2e2f328c, #1f202299),
    url("img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;

    .header__nav-logo {
    }
    
    .header__nav-menu.mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .header__nav-list {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }

      .header__menu-btn {
        order: -1;
        margin-left: auto;
        margin-bottom: 50px;
      }

      .cart-icon {
        display: none;
      }
    }

    .header__nav-menu:not(.mobile) {
      .header__nav-list {
        @media (max-width: 1023.5px) {
          display: none;
        }
      }
    }

    .header__nav-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 40px;
      @media (min-width: 1023.5px) {
        height: auto;
      }
      transition: all 0.5s ease-in-out;
      .header__nav-list {
        gap: 24px;
        display: flex;

        .header__nav-item {
          a {
            font-size: large;
            letter-spacing: 0.07rem;
            color: blanchedalmond;
            position: relative;
          }
          a::before {
            content: "";
            bottom: -4px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            color: blanchedalmond;
            opacity: 0.8;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out;
          }

          a:hover::before {
            transform: scaleX(1);
            background-color: blanchedalmond;
          }
        }
      }
      .header__menu-btn {
        display: block;
        width: auto;
        height: auto;
        padding: 19px 8px;
        margin-left: 20px;
        cursor: pointer;
        transition: opacity 0.5s ease;
        @media (min-width: 1024px) {
          display: none;
        }
        .header__navicon {
          display: block;
          width: 24px;
          height: 2px;
          position: relative;
          background: blanchedalmond;
          cursor: pointer;
          transition: background 0.2s ease-out;
        }
        .header__navicon::before,
        .header__navicon::after {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          background: blanchedalmond;
          transition: all 0.2s ease-out;
        }

        .header__navicon:before {
          top: 7px;
        }

        .header__navicon:after {
          top: -7px;
        }
      }
    }
  }
}

.cart-icon {
  margin-left: auto;
  img {
    width: 25.6px;
    height: 100%;
    filter: invert(86%) sepia(25%) saturate(444%) hue-rotate(326deg)
      brightness(107%) contrast(104%);
  }
}
