header {
  background-image: linear-gradient(#2e2f328c, #1f202299),
    url("img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;

    .header__nav-logo {
      width: 100%;
      @media (min-width: 400px) {
        width: 60%;
      }
      @media (min-width: 500px) {
        width: 40%;
      }
      @media (min-width: 650px) {
        width: 35%;
      }
      @media (min-width: 768px) {
        width: 30%;
      }
      @media (min-width: 1024px) {
        width: 15%;
      }
    }

    .header__nav-menu {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .header__nav-list {
        gap: 24px;
        flex-flow: row wrap;
        display: inline-flex;
        @media (max-width: 1023.5px) {
          display: none;
        }

        .header__nav-item {
          a {
            font-size: large;
            letter-spacing: 0.07rem;
            color: blanchedalmond;
            position: relative;
          }
          a::before {
            content: "";
            bottom: -4px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            color: blanchedalmond;
            opacity: 0.8;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out;
          }

          a:hover::before {
            transform: scaleX(1);
            background-color: blanchedalmond;
          }
        }
      }
      .header__menu-btn {
        display: block;
        width: auto;
        height: auto;
        padding: 19px 8px;
        margin-left: auto;
        cursor: pointer;
        transition: opacity 0.5s ease;
        @media (min-width: 1024px) {
          display: none;
        }
        .header__navicon {
          display: block;
          width: 24px;
          height: 2px;
          position: relative;
          background: wheat;
          cursor: pointer;
          transition: background 0.2s ease-out;
        }
        .header__navicon::before,
        .header__navicon::after {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          background: wheat;
          transition: all 0.2s ease-out;
        }

        .header__navicon:before {
          top: 7px;
        }

        .header__navicon:after {
          top: -7px;
        }
      }
    }
  }
}
