@import url(global.css);
@import url(header-nav.partial.css);
@import url(footer.partial.css);

.pizzeria-menu__container {
    display: grid; 
    grid-template-columns: 3fr 3fr 3fr;
    row-gap: 20px;
}